@import 'src/scss/variables';

.app-sudoku {
  &__buttons {
    margin: $margin-xs -.25rem 0;

    button.mat-button {
      flex: 1;
    }
  }

  &__buttons--digit {
    display: flex;

    .mat-button {
      flex: 1;
      min-width: 0;
      text-align: center;
      font-family: $font-regular;
      font-size: $font-xl;
      color: $grey-dark;
      padding: $margin-xxs $margin-s;
      margin: $margin-xxs 0 0;

      &:hover {
        color: $blue;
        cursor: pointer;
      }

      &.disabled {
        cursor: default;
        pointer-events: none;
        color: $grey-light;
      }
    }

  }
}
