<app-navbar (restart)="newGame()" (resetGrid)="reset()" (difficultyChanged)="changeSetting($event)" (generateCustomGrid)="generateCustom()"></app-navbar>
<div class="app-container">
  <div *ngIf="loading">
    <app-loading></app-loading>
  </div>
  <div *ngIf="!loading" class="app-sudoku__wrapper">
    <div class="app-header app-flex">
      <div class="app-col-3 app-difficulty-setting">{{difficulty}}</div>
      <div class="app-col-3 app-timer">{{ elapsedTime | formatTime }}</div>
    </div>
    <app-sudoku [(sudoku)]="sudoku" (stopTimer)="solve()"></app-sudoku>
  </div>
</div>