@font-face {
  font-family: 'Montserrat-Bold';
  src: URL('/assets/fonts/Montserrat-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'OpenSans-Regular';
  src: URL('/assets/fonts/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'OpenSans-SemiBold';
  src: URL('/assets/fonts/OpenSans-SemiBold.ttf') format('truetype');
}
