/* colors */

$white: #FFFFFF;
$green: #24A1A9;
$red: #EA5885;
$grey-light: #FAFAFA;
$grey-menu: #EFEFEF;
$grey-highlight: #EAEAEA;
$blue-highlight: #B8F3FF;
$blue: #00D3FF;
$grey-medium: #757B8F;
$grey-dark: #494E61;

/* fonts */

$font-default: 'OpenSans-SemiBold',
sans-serif;
$font-regular: 'OpenSans-Regular',
sans-serif;

/* sizes - margins, fonts */

$margin-xxs: .25rem;
$margin-xs: .5rem;
$margin-s: .75rem;
$margin-m: 1rem;
$margin-l: 1.25rem;
$margin-xl: 1.5rem;
$margin-xxl: 2.5rem;

$font-xs: .8125rem;
$font-s: .875rem;
$font-m: .9375rem;
$font-l: 1.2rem;
$font-xl: 2rem;

/* other */
